{% extends "base.html" %} {% block head %} {{ super() }}
<title>USER HOME PAGE</title>
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <a class="nav-item nav-link" id="home" href="/">Logout</a>
      <!-- <a class="nav-item nav-link" id="user_login" href="/user_signup">User-signup</a> -->


    </div>
  </div>
</nav>
{% endblock %}

{% block content %}
<h1>This is the Home page for user</h1>


{% endblock %}